
<kendo-menu>
    <kendo-menu-item text="Tools" [cssStyle]="{ width:'200px'}">
        <kendo-menu-item text="Documentation">
        </kendo-menu-item>
        <kendo-menu-item text="Employee Profile">
        </kendo-menu-item>
    </kendo-menu-item>
    <kendo-menu-item  text="My Transfer List">
    </kendo-menu-item>
    <kendo-menu-item text="Transfer List">
    </kendo-menu-item>
    <kendo-menu-item text="Vacancies">
    </kendo-menu-item>
    <kendo-menu-item text="Reports">
    </kendo-menu-item>
</kendo-menu>